header {
	background:#2c3e50;
	color:#fff;
}

.main{
	background: #f2f2f2;
}

body {
	padding-top: 56px;
}

#cuerpoTienda {
	padding-top: 5px;
	padding-bottom: 50px;
}

#productImage {
	width: 200px;
	height: 200px;
}

#cuerpoLogin {
	padding-top: 25px;
	padding-bottom: 25px;
}

#cuerpoAdmin {
	padding-bottom: 25px;
}

#itemAdmin {
	margin-top: 25px;
}

.color1 {
	background: #34495e;
	color: #fff;
	align-content: center;
	text-align: center;
}

.color2 {
	background: #ffffff;
	color: #fff;
	align-content: center;
	text-align: center;
}

.color3 {
	background: green;
	text-align: center;

}

aside {
	background: #BBFF9E;
}

footer{
	background: #16a085;
	color: #fff;
}
hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}